.navbar {
    display: flex;
    height: 90px;
    background-color: rgba(135, 206, 250, 0.8);
    justify-content: flex-start;
    box-shadow: 2px 2px rgba(211, 211, 211, 0.548);
}
textarea:focus, input:focus{
    outline: none;
}

.navbar div:last-child {
    margin-left: auto;
}

.navbar img:hover {
    cursor: pointer;
}

.menuItem {
    height: 70px;
    line-height: 70px;
    padding: 10px;
}
.menuItem:hover {
    font-weight: bolder;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 5%);
}

.title {
    height: 70px;
    line-height: 70px;
    padding: 10px;
    font-weight: bold;
}
.spacer {
    width: 100%;
    height: 20px;
}