<div class="contentWrapper">
    <div class="flexColumn">
        <button mat-mini-fab color="warn" matTooltip="Delete Event" matTooltipPosition="above" (click)="deleteEvent()"
            class="deleteButton" [disabled]="deleteDisabled">
            <mat-icon>delete_forever</mat-icon>
        </button>
        <form class="flexColumn" [formGroup]="inputForm">
            <mat-form-field appearance="standard">
                <mat-label>Event</mat-label>
                <input matInput name="event" type="text" formControlName="event" (blur)="checkValid()">
                <mat-error *ngIf="this.inputForm.get('event').invalid">{{ errors.get("event") }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>Date</mat-label>
                <input matInput name="date" [matDatepicker]="picker" formControlName="date" (blur)="checkValid()">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="this.inputForm.get('date').invalid">{{ errors.get("date") }}</mat-error>
            </mat-form-field>
            <!-- <input name="picture" type="file" formControlName="picture" (change)="onFileSelected($event)"> -->
            <div class="buttons">
                <button mat-raised-button color="warn" (click)="close()" type="button"
                    [disabled]="buttonDisabled">Close</button>
                <span></span>
                <button mat-raised-button color="primary" (click)="submit()" type="submit"
                    [disabled]="buttonDisabled">{{ submitText }}</button>
            </div>
        </form>
    </div>
</div>