<div class="contentWrapper">
    <div class="flexColumn">
        <button mat-mini-fab color="warn" matTooltip="Delete Event" matTooltipPosition="above" (click)="deleteEvent()"
            class="deleteButton" [disabled]="deleteDisabled">
            <mat-icon>delete_forever</mat-icon>
        </button>
        <form class="flexColumn" [formGroup]="inputForm">
            <mat-form-field appearance="standard">
                <mat-label>Event</mat-label>
                <input matInput name="event" type="text" formControlName="event" (dateInput)="checkValid()"
                    (dateChange)="checkValid()">
                <mat-error *ngIf="this.inputForm.get('event').invalid">{{ errors.get("event") }}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>Date</mat-label>
                <input matInput name="date" [matDatepicker]="picker" formControlName="date" (blur)="checkValid()">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
                <mat-error *ngIf="this.inputForm.get('date').invalid">{{ errors.get("date") }}</mat-error>
            </mat-form-field>

            <mat-checkbox color="primary" appearance="standard" (change)="toggleRecurrance($event.checked)"
                formControlName="recurring" name="recurring">Recurring</mat-checkbox>
            <mat-radio-group formControlName="recurranceType" [disabled]="!isRecurring">
                <mat-radio-button *ngFor="let recurranceType of recurranceTypes" [value]="recurranceType" name="recurranceType">
                    {{ recurranceType }}
                </mat-radio-button>
            </mat-radio-group>
            <!-- TODO Add this to the Church Event, Batch create 1 year's worth of events -->

            <div class="buttons">
                <button mat-raised-button color="warn" (click)="close()" type="button"
                    [disabled]="buttonDisabled">Close</button>
                <span></span>
                <button mat-raised-button color="primary" (click)="submit()" type="submit"
                    [disabled]="buttonDisabled">{{ submitText }}</button>
            </div>
        </form>
    </div>
</div>