table {
    width: 100%;
    margin: auto;
}

$trColour: whitesmoke;
tr {
    background-color: $trColour;
}

tr:nth-child(odd) {
    background-color: darken($color: $trColour, $amount: 10);
}

form {
    margin-bottom: 10px;
}