<div class="contentWrapper">
    <div class="gridColumn">
        <button mat-raised-button color="primary" routerLink="./events">
            <mat-icon>calendar_today</mat-icon>
            <br>
            Events
            <br>
            مناسبت ها
        </button>
        <button mat-raised-button color="primary" routerLink="./register-attendance">
            <mat-icon>beenhere</mat-icon>
            <br>
            Register Attendance
            <br>
            ثبت نام حضور
        </button>
    </div>
</div>