<div class="contentWrapper">
    <div>
        <button mat-raised-button color="primary" routerLink="./events">
            <mat-icon>calendar_today</mat-icon>
            <br>
            Events
            <br>
            مناسبت ها
        </button>
        <button mat-raised-button color="primary" routerLink="./view-attendance">
            <mat-icon>list_alt</mat-icon>
            <br>
            View Attendance
            <br>
            مشاهده حضور
        </button>
        <button mat-raised-button color="primary" routerLink="./register-attendance">
            <mat-icon>beenhere</mat-icon>
            <br>
            Register Attendance
            <br>
            ثبت نام حضور
        </button>
    </div>
</div>