<div class="formWrapper">
    <form class="flexForm" [formGroup]="logInForm">
        <mat-form-field appearance="standard">
            <mat-label>Email</mat-label>
            <input matInput id="email" name="email" type="email" formControlName="email">
        </mat-form-field>
        <mat-form-field appearance="standard">
            <mat-label>Password</mat-label>
            <input matInput id="password" name="password" type="password" formControlName="password">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="logIn()" [disabled]="buttonDisabled">{{ logInText }}</button>
    </form>
</div>