<div class="contentWrapper">
  <button mat-mini-fab color="primary" matTooltip="Add Event" matTooltipPosition="above" routerLink="./event" class="addButton">
    <mat-icon>post_add</mat-icon>
  </button>
  <div class="mat-elevation-z8">
  <table mat-table [dataSource]="events" matSort>

    <ng-container matColumnDef="id" id="idCell">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
      <td mat-cell *matCellDef="let churchEvent"> {{ churchEvent.id }} </td>
    </ng-container>

    <ng-container matColumnDef="event">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Event </th>
      <td mat-cell *matCellDef="let churchEvent" id="{{ churchEvent.id }}"> {{ churchEvent.name }} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let churchEvent" id="{{ churchEvent.id }}"> {{ churchEvent.date.toDate().toDateString()
        }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="viewEvent($event)"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20, 100]" showFirstLastButtons></mat-paginator>
</div>

  <div class="buttons">
    <button mat-raised-button color="warn" (click)="close()" type="button">Close</button>
    <span></span>
    <button mat-raised-button color="primary" (click)="exportDataToExcel()">Export to CSV</button>
  </div>
</div>