<div class="contentWrapper">
  <button mat-mini-fab color="primary" matTooltip="Add Event" matTooltipPosition="above" routerLink="./add-event">
    <mat-icon>post_add</mat-icon>
  </button>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id" id="idCell">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let churchEvent"> {{ churchEvent.id }} </td>
    </ng-container>

    <ng-container matColumnDef="event">
      <th mat-header-cell *matHeaderCellDef> Event </th>
      <td mat-cell *matCellDef="let churchEvent" id="{{ churchEvent.id }}"> {{ churchEvent.name }} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Date </th>
      <td mat-cell *matCellDef="let churchEvent" id="{{ churchEvent.id }}"> {{ churchEvent.date.toDate().toDateString()
        }} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="viewEvent($event)"></tr>
  </table>

  <div class="buttons">
    <button mat-raised-button color="warn" (click)="close()" type="button">Close</button>
  </div>
</div>