html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    border: 0px;
    min-height: 100%;
    background-image: url(./assets/chairs.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: papayawhip;
}
input:focus {
    outline: none;
}
.contentWrapper {
    width: 80%;
    margin: auto;
    padding-bottom: 3em;
}
.contentWrapper form {
    padding: 0.5em;
    background-color: rgba(211, 211, 211, 0.9);
    border-radius: 5px;
    margin-bottom: 1em;
    margin-top: 1em;
}
.flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.flexColumn button {
    align-self: flex-end;
}
.buttons {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
}
.buttons span {
    margin: auto;
}
table {
    width: 100%;
    margin-top: 1em;
}
$trColour: whitesmoke;
tr {
    background-color: $trColour;
}
tr:nth-child(odd) {
    background-color: darken($color: $trColour, $amount: 10);
}
.deleteButton {
    align-self: flex-end;
}
mat-paginator {
    margin-top: 1em;
}
