html,
body {
    height: 100%;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    border: 0px;
    min-height: 100%;
    background-image: url(./assets/chairs.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: papayawhip;
}
input:focus {
    outline: none;
}
.contentWrapper {
    width: 80%;
    margin-left: 10%;
}
.contentWrapper form {
    padding: 5px;
    background-color: rgba(211, 211, 211, 0.9);
    border-radius: 5px;
}
.flexColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.flexColumn button {
    align-self: flex-end;
}
.formButtons {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
}
.formButtons span {
    margin: auto;
}