<div class="contentWrapper">
    <form class="flexColumn" [formGroup]="inputForm">
        <mat-form-field appearance="standard">
            <mat-label>Email - پست الکترونیک</mat-label>
            <input matInput id="email" name="email" formControlName="email" (blur)="checkValid()">
            <mat-error *ngIf="this.inputForm.get('email').invalid">{{ errors.get("email") }}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>Event - رویداد</mat-label>
            <mat-select formControlName="event" (blur)="checkValid()">
                <mat-option *ngFor="let e of events" [value]="e.name">{{ e.name }}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="standard">
            <mat-label>Date - تاریخ</mat-label>
            <input matInput name="date" [matDatepicker]="picker" formControlName="date" (blur)="checkValid()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="this.inputForm.get('date').invalid">{{ errors.get("date") }}</mat-error>
        </mat-form-field>

        <div class="formButtons">
            <button mat-raised-button color="warn" (click)="close()" type="button" [disabled]="buttonDisabled">Close -
                بستن</button>
            <span></span>
            <button mat-raised-button color="primary" (click)="submit()" [disabled]="buttonDisabled" type="submit">{{
                submitText }}</button>
        </div>
    </form>
</div>